@{
    ViewData["Title"] = "Main";
    ViewData["Description"] = "Main page";
    ViewData["Endpoint"] = "";
}

<body>


<!-- Side Bar (Home, Projects, Skills, Contact me)-->
<div class="sidebar">
    
</div>

<!-- Logo -->
<div class="logo">
    <img src="images/icon-128x128.png" alt="Logo">
</div>

<!-- Social Accounts - append under logo -->


<!-- Introduction -->
<div class="introduction">
    <p>
        Hello There! My Name is Jamie Duddleston but you can call me Thorn. <BR>
        I am an 18 year old freelance developer who likes to push the limits of what is possible on a computer. <br/>
        My love for developing started out in high school when I met a 
        I love to play chess and am an avid gamer.
    </p>
    
    <br/>
    
    <p>
        I have a major obsession with Classic and Alternate Rock but I also love to listen to classics like Willie Nelson, Johnny Cash, Elvis, and even Michael Jackson. I do listen to lofi and dubstep and am currently learning a lot of different mix software such as FL Studio. I have two guitars (An acoustic Yamaha, and an electic Fender Squire. I am still learning them and do so in my free time.
    </p>
    
    <img src="https://spotify-drmg65jrz.vercel.app/api/spotify" alt="https://open.spotify.com/user/lint74q8j4m2mq36z3wyt2obt"/>

    <br/>
    
</div>

<!-- Footer -->
<footer>
    <div class="footer-info">
        <a href="https://github.com/GuildedThorn">Github</a> • <a href="https://twitter.com/GuildedThorn">Twitter</a> • <a href="https://youtube.com/UCq1dahDmSWmn7A8rx-A5AJQ">Youtube</a> • <a href="https://www.buymeacoffee.com/GuildedThorn">Buy Me A Coffee</a> • <a href="https://www.linkedin.com/in/jamieduddleston/">LinkedIn</a>
    </div>
</footer>

</body>