@{
    ViewData["Title"] = "Main";
    ViewData["Description"] = "Main page";
    ViewData["Endpoint"] = "";
}

<body>

<div class="logo">
    <img src="images/icon.png" alt="Logo">
</div>

<div class="introduction">
    <p>
        Hello There! My Name is Jamie Duddleston but you can call me Thorn. <BR>
        I am an 18 year old freelance developer who likes to push the limits of what is possible on a computer. <br/>
        My love for developing started out in high school when I met a 
        I love to play chess and am an avid gamer.
    </p>
</div>

<footer>
    
    <div class="info">
        <a href="https://github.com/GuildedThorn">Github</a> • <a href="https://twitter.com/GuildedThorn">Twitter</a> • <a href="https://youtube.com/UCq1dahDmSWmn7A8rx-A5AJQ">Youtube</a> • <a href="https://www.buymeacoffee.com/GuildedThorn">Buy Me A Coffee</a> • <a href="https://www.linkedin.com/in/jamieduddleston/">LinkedIn</a>
    </div>
    
</footer>

</body>