html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: white;
  margin-bottom: 60px;
  background-color: #0D1117
}

.introduction {
  margin: 20px;
  text-align: center;
  padding-top: 50px;
}

.logo {
  float: left;
  margin: 5px;
  padding-top: 30px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

footer .info {
  padding-left: 800px;
}
